---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

let posts = await getCollection("blog");

posts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
posts = posts.filter((post) => post.data.draft === false);
---

<Layout frontmatter={{ title: "Blog" }}>
  <!-- TODO: Make this UI mobile compatible -->
  <div class="flex justify-between">
    <a href="/" class="hover:opacity-75 no-underline"
      ><h1 class="!mb-0">Oscar's Blog</h1></a
    >
  </div>

  <ul class="divide-y divide-gray-200 list-none !mt-0">
    {posts.length === 0 && <p>No posts found, Check back later!</p>}
    {
      posts.map((post) => {
        const {
          slug,
          data: { title, description, date },
        } = post;

        return (
          <li>
            <article>
              <div class="space-y-2 xl:grid xl:grid-cols-3 xl:items-baseline xl:space-y-0">
                <div class="space-y-5 xl:col-span-3">
                  <div>
                    <div>
                      <h2 class="text-2xl font-bold leading-8 tracking-tight !m-0">
                        <a href={`/blog/${slug}`} class="text-gray-900 ">
                          {title}
                        </a>
                      </h2>
                      <h3 class="!text-xs font-medium leading-6 text-gray-500 !m-0">
                        <time datetime={date.toDateString()}>
                          {date.toDateString()}
                        </time>
                      </h3>
                    </div>
                    <div class="prose max-w-none text-gray-500 pt-2">
                      {description}
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </li>
        );
      })
    }
  </ul>
</Layout>
