---
import "../styles/global.css";
import MeImage from "../../../public/assets/me.jpg";

let {
  frontmatter: { title, description, hidden },
} = Astro.props;

if (!title || title === "") title = "Oscar Beaumont";
if (!description || description === "")
  description =
    "I'm a software developer based in Perth, Australia. I am self-taught and love creating solutions to help people use technology effectively.";
---

<html lang="en">
  <html lang="en" class="h-full">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      {hidden ? <meta name="robots" content="noindex" /> : ``}
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <title>{title}</title>
      <meta name="description" content={description} />

      <meta property="og:locale" content="en_US" />
      <meta property="og:title" content={title} />
      <meta property="og:description" content={description} />
      <meta property="og:type" content="website" />
      <meta property="og:url" content={Astro.site} />
      <meta property="og:image" content={MeImage.src} />

      <link rel="preconnect" href="https://fonts.gstatic.com/" />
      <link
        href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap"
        rel="stylesheet"
      />
    </head>
    <body class="h-full font-sans">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-3xl pt-2 lg:pt-8">
          <article class="prose prose-slate lg:prose-lg whitespace-normal">
            <slot />
          </article>
        </div>
      </div>
    </body>
  </html>
</html>
